<H1>Weekly TOP performers calculator</H1>
<p>The input database to compute the adjusted percentage has to have data from the entire week.
As the database only keeps 4 day, it is necessary to store at least 2 requests to have 8 days in total. 
The resquests should be store on Thursdays and Monday</p>

In [64]:
def weekly_results(shift,database,finish,start,):
    import pandas as pd 
    import datetime
    import datetime as dt 
    import numpy as np
#     today= str(dt.datetime.today())[:10]
    data=pd.read_excel(database+'.xlsx')
    top_100=['001/AMMS','08N/A08N', '08N/A08N', '08S/A08S', '09B/A09B','09S/A09S','09S/A09S']
    top_50=['RL1/AMRV','RL2/AMRV','RL3/AMRV','RL4/AMRV','SHR/SHRE']
    data['Expected rate']=np.where((data['WA/WG'] =='RL1/AMRV')|(data['WA/WG']=='RL2/AMRV')|
                               (data['WA/WG'] =='RL3/AMRV')|(data['WA/WG']=='RL4/AMRV')|
                               (data['WA/WG']=='SHR/SHRE'),50,100)
    columns=['usr','ilpn','Expected rate']
    data=data[columns]
    percent=data.groupby(['Expected rate','usr'])
    percent=percent.count()
    percent=percent.unstack(level=0).fillna(0)
    percent['percentage']=percent[('ilpn',50)]/(percent[('ilpn',100)]+percent[('ilpn',50)])
    
    names=list()
    for i in range(finish,start):
        day=datetime.date.today()-datetime.timedelta(days=i)
        file_name=str(day)[5:10]+shift+'.xlsx'
        df=pd.read_excel('archive/Pulling/'+file_name)
        names.extend(list(df.Name))
    names=list(pd.Series(names).unique())
    dic={name:0 for name in names}
    for name in names:
        rates_temp=list()
        total_temp=list()
        for i in range(finish,start):
            day=datetime.date.today()-datetime.timedelta(days=i)
            file_name=str(day)[5:10]+shift+'.xlsx'
            df=pd.read_excel('archive/Pulling/'+file_name)
            df=df.dropna()
            rate=list(df[df['Name']==name]['Rate'])
            total=list(df[df['Name']==name].T[3:-1].sum(axis=0))
            
            if rate and total:
                 rates_temp.append(float(rate[0]))
                 total_temp.append(int(total[0]))
        if len(rates_temp):
            dic[name]=[sum(rates_temp)/len(rates_temp),len(rates_temp),sum(total_temp)]
        else:
            dic[name]=[sum(rates_temp),len(rates_temp),sum(total_temp)]
    df=pd.DataFrame(dic).T
    df.columns=['Rate','Days','Total ilpns']
    df['Rate_fix']=percent['percentage']
    df['Adjusted Rate']=df['Rate']*(1+df['Rate_fix'])
    df=df.sort_values('Adjusted Rate',ascending=False)
    s_day=datetime.date.today()-datetime.timedelta(days=start)
    f_day=datetime.date.today()-datetime.timedelta(days=finish)
    print(f'Start day {s_day}\nFinish day {f_day}')
    return df

In [69]:
# import pandas as pd
# with pd.ExcelWriter('results.xlsx') as writer:
#         weekly_results('Morning shift',percent).to_excel(writer, sheet_name='Morning shift')
#         weekly_results('Afternoon shift',percent).to_excel(writer, sheet_name='Afternoon shift')
#         weekly_results('Night shift',percent).to_excel(writer, sheet_name='Night shift')
# first=weekly_results('Morning shift','database13_07',15,16)
second=weekly_results('Morning shift','database26_07',1,5)

Start day 2020-07-24
Finish day 2020-07-28

,Rate,Days,Total ilpns,Rate_fix,Adjusted Rate,Expected ilpns
"Davis,Villavicencio Lenes",124.000000,1.0,264.0,0.000000,124.000000,750.000000
"Nana,Dompo",76.890000,3.0,665.0,0.570533,120.758276,1608.150470
"Brien,McDonnell",103.903333,3.0,1591.0,0.000000,103.903333,2250.000000
"Quinndel,Scott-Wright",102.120000,3.0,2022.0,0.000000,102.120000,2250.000000
"Luis,Vargas Jaquez",101.835000,2.0,1313.0,0.000000,101.835000,1500.000000
"Wayne,Frederick",98.423333,3.0,1582.0,0.000000,98.423333,2250.000000
"Daquan,Bryant",91.300000,2.0,913.0,0.000000,91.300000,1500.000000
"Miguel,Barros",88.000000,1.0,181.0,0.000000,88.000000,750.000000
"Alina,Castillo Alcantara",85.310000,2.0,1132.0,0.000000,85.310000,1500.000000
"Marlon,Armstrong",58.310000,2.0,769.0,0.454082,84.787500,1159.438776
"Janeth,Falquez",78.763333,3.0,1524.0,0.048466,82.580697,2195.475460
"Jose,Guaman",72.980000,3.0,1345.0,0.098886,80.196685,2138.753482
"Jamaal,Anderson",64.765000,2.0,568.0,0.124197,72.808619,1406.852248
"Yave,Caba Corona",64.400000,1.0,325.0,0.109589,71.457534,708.904110
"Luis,Naula Jara",45.916667,3.0,343.0,0.100000,50.508333,2137.500000
"Aurelio,Mercedes Hernandez",50.000000,1.0,50.0,0.000000,50.000000,750.000000
"Juan,Olmeda",23.835000,2.0,140.0,1.000000,47.670000,750.000000
"Angel,Fernandez Hernandez",23.000000,1.0,23.0,0.000000,23.000000,750.000000
"Nancy,Ovillo",0.000000,0.0,0.0,0.000000,0.000000,0.000000
"Deron,Fuller",0.000000,0.0,0.0,0.988506,0.000000,0.000000
"Rodolfo,Morel Estevez",0.000000,0.0,0.0,0.002841,0.000000,0.000000
"Mailin,Chan",0.000000,0.0,0.0,1.000000,0.000000,0.000000
"Lorenzo,Peralta Santos",0.000000,0.0,0.0,0.000000,0.000000,0.000000
"David,Ojeda Herrera",0.000000,0.0,0.0,0.843972,0.000000,0.000000
"Audrey,Henry",0.000000,0.0,0.0,0.177778,0.000000,0.000000
"Jose,Rodriguez",0.000000,0.0,0.0,NaN,NaN,NaN
"Manuel,Martinez Suarez",0.000000,0.0,0.0,NaN,NaN,NaN

In [77]:
def general_indicators(file_name: str):
            from apps import functions as fx
            import pandas as pd
            import numpy as np
            from apps import functions as fx 
            df=fx.main_table(file_name)
            df=df.iloc[:-1,:-1]
            df=df.set_index('Last Location')
            temp=df[df>20]
            #This takes into account the sectors where the rates are not supposed to be 100
            temp1=(temp[temp.index=='RL1/AMRV']>0)*0.5
            temp1.index.names=['Hour']
            temp1=temp1.T
            temp2=(temp[temp.index=='RL2/AMRV']>0)*0.5
            temp2.index.names=['Hour']
            temp2=temp2.T
            temp3=(temp[temp.index=='RL3/AMRV']>0)*0.5
            temp3.index.names=['Hour']
            temp3=temp3.T
            temp4=(temp[temp.index=='RL4/AMRV']>0)*0.5
            temp4.index.names=['Hour']
            temp4=temp4.T
            temp5=(temp[temp.index=='SHR/SHRE']>0)*0.5
            temp5.index.names=['Hour']
            temp5=temp5.T
            frames=[temp1,temp2,temp3,temp4,temp5]
            adjust=pd.concat(frames,axis=1)
            adjust=adjust.sum(axis=1)
            results=pd.DataFrame(index=np.arange(len(temp.count())))
            results['Hour']=temp.count().index
            results.set_index('Hour')
            results['Headcount']=temp.count().values
            results['adjust']=list(adjust)
            results['adjusted_Headcount']=results['Headcount']-results['adjust'] 
            results['Exp_Rate/person']=100
            results['Exp_Rate']=results['Exp_Rate/person']*results['adjusted_Headcount']
            expected,real=results['Exp_Rate'].sum(axis=0),df.sum(axis=0).sum()
            return (expected,real)
def get_expected(start,finish):
    import datetime 
    expected=list()
    net=list()
    date=list()
    for i in range(start,finish):
            day=datetime.date.today()-datetime.timedelta(days=i)
            file_name=str(day)[5:10]+'Morning shift'+'.xlsx'
            expected.append(general_indicators(file_name)[0])
            net.append(general_indicators(file_name)[1])
            date.append(str(day)[5:10])
            df=pd.DataFrame(columns=['Expected Results','Net Results'],index=date)
    df['Expected Results']=expected
    df['Net Results']=net
    return df