<H1>Weekly TOP performers calculator</H1>
<p>The input database to compute the adjusted percentage has to have data from the entire week.
As the database only keeps 4 day, it is necessary to store at least 2 requests to have 8 days in total. 
The resquests should be store on Thursdays and Monday</p>

In [37]:
from apps import functions as fx
import pandas as pd
import datetime as dt 
import numpy as np
today= str(dt.datetime.today())[:10]
data=pd.read_excel('archive/Pulling/database.xlsx')
top_100=['001/AMMS','08N/A08N', '08N/A08N', '08S/A08S', '09B/A09B','09S/A09S','09S/A09S']
top_50=['RL1/AMRV','RL2/AMRV','RL3/AMRV','RL4/AMRV','SHR/SHRE']
# data=data[data['pulling_date']==today]

In [38]:
data['Expected rate']=np.where((data['WA/WG'] =='RL1/AMRV')|(data['WA/WG']=='RL2/AMRV')|
                               (data['WA/WG'] =='RL3/AMRV')|(data['WA/WG']=='RL4/AMRV')|
                               (data['WA/WG']=='SHR/SHRE'),50,100)
columns=['usr','ilpn','Expected rate']
data=data[columns]
percent=data.groupby(['Expected rate','usr'])
percent=percent.count()
percent=percent.unstack(level=0).fillna(0)
percent['percentage']=percent[('ilpn',50)]/(percent[('ilpn',100)]+percent[('ilpn',50)])

In [49]:
def weekly_results(shift,percent,start,finish):
    import pandas as pd 
    import datetime
    names=list()
    for i in range(1,4):
        day=datetime.date.today()-datetime.timedelta(days=i)
        file_name=str(day)[5:10]+shift+'.xlsx'
        df=pd.read_excel('archive/Pulling/'+file_name)
        names.extend(list(df.Name))
    names=list(pd.Series(names).unique())
    dic={name:0 for name in names}
    for name in names:
        rates_temp=list()
        total_temp=list()
        for i in range(start,finish):
            day=datetime.date.today()-datetime.timedelta(days=i)
            file_name=str(day)[5:10]+shift+'.xlsx'
            df=pd.read_excel('archive/Pulling/'+file_name)
            df=df.dropna()
            rate=list(df[df['Name']==name]['Rate'])
            total=list(df[df['Name']==name].T[3:-1].sum(axis=0))
            
            if rate and total:
                 rates_temp.append(float(rate[0]))
                 total_temp.append(int(total[0]))
        if len(rates_temp):
            dic[name]=[sum(rates_temp)/len(rates_temp),len(rates_temp),sum(total_temp)]
        else:
            dic[name]=[sum(rates_temp),len(rates_temp),sum(total_temp)]
    df=pd.DataFrame(dic).T
    df.columns=['Rate','Days','Total ilpns']
    df['Rate_fix']=percent['percentage']
    df['Adjusted Rate']=df['Rate']*(1+df['Rate_fix'])
    df=df.sort_values('Adjusted Rate',ascending=False)
    f_day=datetime.date.today()-datetime.timedelta(days=start)
    s_day=datetime.date.today()-datetime.timedelta(days=finish)
    print(f'Start day {s_day}\nFinish day {f_day}')
    return df

In [52]:
# import pandas as pd
# with pd.ExcelWriter('results.xlsx') as writer:
#         weekly_results('Morning shift',percent).to_excel(writer, sheet_name='Morning shift')
#         weekly_results('Afternoon shift',percent).to_excel(writer, sheet_name='Afternoon shift')
#         weekly_results('Night shift',percent).to_excel(writer, sheet_name='Night shift')
weekly_results('Morning shift',percent,13,17)

Start day 2020-07-12
Finish day 2020-07-16

,Rate,Days,Total ilpns,Rate_fix,Adjusted Rate
"Nana,Dompo",75.110000,3.0,552.0,0.596721,119.929738
"Wayne,Frederick",95.055000,4.0,2448.0,0.000000,95.055000
"Quinndel,Scott-Wright",94.580000,2.0,1145.0,0.000000,94.580000
"Miguel,Barros",92.500000,3.0,541.0,0.000000,92.500000
"Luis,Vargas Jaquez",91.153333,3.0,1558.0,0.000000,91.153333
"Brien,McDonnell",89.000000,2.0,1082.0,0.000000,89.000000
"Marlon,Armstrong",59.250000,2.0,666.0,0.454082,86.154337
"Daquan,Bryant",81.692500,4.0,1295.0,0.000000,81.692500
"Alina,Castillo Alcantara",79.000000,1.0,474.0,0.000000,79.000000
"Luis,Naula Jara",70.890000,3.0,918.0,0.100000,77.979000
"Janeth,Falquez",73.640000,4.0,1845.0,0.048585,77.217835
"Jose,Guaman",56.470000,4.0,1455.0,0.098886,62.054081
"Aurelio,Mercedes Hernandez",49.000000,1.0,49.0,0.000000,49.000000
"Deron,Fuller",24.000000,1.0,24.0,0.988506,47.724138
"Jamaal,Anderson",42.000000,1.0,84.0,0.128319,47.389381
"David,Ojeda Herrera",22.000000,1.0,34.0,0.843972,40.567376
"Yave,Caba Corona",23.000000,2.0,108.0,0.114695,25.637993
"Audrey,Henry",0.000000,0.0,0.0,0.177778,0.000000
"Mailin,Chan",0.000000,0.0,0.0,1.000000,0.000000
"Rodolfo,Morel Estevez",0.000000,0.0,0.0,0.002841,0.000000
"Lorenzo,Peralta Santos",0.000000,0.0,0.0,0.000000,0.000000
"Angel,Fernandez Hernandez",0.000000,0.0,0.0,0.000000,0.000000
"Juan,Olmeda",0.000000,0.0,0.0,1.000000,0.000000
"Nancy,Ovillo",0.000000,0.0,0.0,0.000000,0.000000