<H1>Weekly TOP performers calculator</H1>
<p>The input database to compute the adjusted percentage has to have data from the entire week.
As the database only keeps 4 day, it is necessary to store at least 2 requests to have 8 days in total. 
The resquests should be store on Thursdays and Monday</p>

In [557]:
from apps import functions as fx
import pandas as pd
import datetime as dt 
import numpy as np
today= str(dt.datetime.today())[:10]
data=pd.read_excel('archive/Pulling/database.xlsx')
top_100=['001/AMMS','08N/A08N', '08N/A08N', '08S/A08S', '09B/A09B','09S/A09S','09S/A09S']
top_50=['RL1/AMRV','RL2/AMRV','RL3/AMRV','RL4/AMRV','SHR/SHRE']
# data=data[data['pulling_date']==today]

In [558]:
data['Expected rate']=np.where((data['WA/WG'] =='RL1/AMRV')|(data['WA/WG']=='RL2/AMRV')|
                               (data['WA/WG'] =='RL3/AMRV')|(data['WA/WG']=='RL4/AMRV')|
                               (data['WA/WG']=='SHR/SHRE'),50,100)
columns=['usr','ilpn','Expected rate']
data=data[columns]
percent=data.groupby(['Expected rate','usr'])
percent=percent.count()
percent=percent.unstack(level=0).fillna(0)
percent['percentage']=percent[('ilpn',50)]/(ser[('ilpn',100)]+ser[('ilpn',50)])

In [560]:
def weekly_results(shift,percent):
    import pandas as pd 
    import datetime
    names=list()
    for i in range(1,8):
        day=datetime.date.today()-datetime.timedelta(days=i)
        file_name=str(day)[5:10]+shift+'.xlsx'
        df=pd.read_excel('archive/Pulling/'+file_name)
        names.extend(list(df.Name))
    names=list(pd.Series(names).unique())
    dic={name:0 for name in names}
    for name in names:
        temp=list()
        for i in range(1,8):
            day=datetime.date.today()-datetime.timedelta(days=i)
            file_name=str(day)[5:10]+shift+'.xlsx'
            df=pd.read_excel('archive/Pulling/'+file_name)
            df=df.dropna()
            x=list(df[df['Name']==name]['Rate'])
            if x:
                 temp.append(float(x[0]))
        if len(temp):
            dic[name]=[sum(temp)/len(temp),len(temp)]
        else:
            dic[name]=[sum(temp),len(temp)]
    df=pd.DataFrame(dic).T
    df.columns=['Rate','Days']
    df['Total ilpns']=df['Rate']*7.5*df['Days']
    df['Rate_fix']=percent['percentage']
    df['Adjusted Rate']=df['Rate']*(1+df['Rate_fix'])
    df=df.sort_values('Adjusted Rate',ascending=False)
    return df
import pandas as pd
with pd.ExcelWriter('results.xlsx') as writer:
        weekly_results('Morning shift',percent).to_excel(writer, sheet_name='Morning shift')
        weekly_results('Afternoon shift',percent).to_excel(writer, sheet_name='Afternoon shift')
        weekly_results('Night shift',percent).to_excel(writer, sheet_name='Night shift')

In [563]:
weekly_results('Night shift',percent)

,Rate,Days,Total ilpns,Rate_fix,Adjusted Rate
"Deron,Fuller",56.000000,2.0,840.000,0.952381,109.333333
"David,Sosa Jr.",90.750000,1.0,680.625,0.088161,98.750630
"Anthony,Alexander",93.400000,5.0,3502.500,0.000000,93.400000
"Orrin,Darnley",84.378333,6.0,3797.025,0.000000,84.378333
"Davis,Villavicencio Lenes",77.300000,5.0,2898.750,0.000000,77.300000
"Napoleon,Arnaud Hernandez",76.441667,6.0,3439.875,0.000000,76.441667
"Curtis,Odom",74.374000,5.0,2789.025,0.000000,74.374000
"Edgar,Feliciano",32.000000,1.0,240.000,1.000000,64.000000
"Dujuan,Myers",30.634000,5.0,1148.775,1.000000,61.268000
"Tony,Soler Tatis",37.000000,2.0,555.000,0.438356,53.219178
"Edward,Veras Guzman",25.000000,1.0,187.500,1.000000,50.000000
"Jose,Rodriguez",49.750000,2.0,746.250,0.000000,49.750000
"Yerson,Pena",49.000000,1.0,367.500,0.000000,49.000000
"Isaias,Basora Lugo",42.166667,3.0,948.750,0.120968,47.267473
"Rodolfo,Morel Estevez",45.516000,5.0,1706.850,0.001546,45.586349
"Luis,Vargas Jaquez",44.750000,4.0,1342.500,0.000000,44.750000
"Angel,Fernandez Hernandez",44.666667,3.0,1005.000,0.000000,44.666667
"Oneil,Campbell",35.500000,4.0,1065.000,0.000000,35.500000
"Aurelio,Mercedes Hernandez",31.000000,2.0,465.000,0.000000,31.000000
"Nana,Dompo",22.000000,1.0,165.000,0.353398,29.774757
"Armando,Merchan Vera",28.333333,3.0,637.500,0.000000,28.333333
"Elia,Uruchima",0.000000,0.0,0.000,0.875000,0.000000
"Jose,Correa",0.000000,0.0,0.000,0.000000,0.000000
"Manuel,Martinez Suarez",0.000000,0.0,0.000,1.000000,0.000000
"Miguel,Barros",0.000000,0.0,0.000,0.000000,0.000000
"Rodolfo,Mendoza",0.000000,0.0,0.000,0.000000,0.000000
"Crystal,Knott",0.000000,0.0,0.000,NaN,NaN
"Michael,Cater",0.000000,0.0,0.000,NaN,NaN
"Hansel,Reynoso",0.000000,0.0,0.000,NaN,NaN